## 9.3 Text-File Processing

### 9.3.1 Writing to a Text File: Introducing the with Statement

In [1]:
with open('accounts.txt', mode='w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Doe 345.67\n')
    accounts.write('300 White 0.00\n')
    accounts.write('400 Stone -42.16\n')
    accounts.write('500 Rich 224.62\n')

In [2]:
with open('grades.txt', mode='w') as grades:
    grades.write('1 Red A\n')
    grades.write('2 Green B\n')
    grades.write('3 White A\n')

### 9.3.2 Reading Data from a Text File

In [3]:
with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:<10}')

Account   Name         Balance
100       Jones     24.98
200       Doe       345.67
300       White     0.00
400       Stone     -42.16
500       Rich      224.62

In [4]:
with open('grades.txt', 'r') as grades:
    print(f'{"ID":<4}{"Name":<7}{"Grade"}')
    for record in grades:
        student_id, name, grade = record.split()
        print(f'{student_id:<4}{name:<7}{grade}')

ID  Name   Grade
1   Red    A
2   Green  B
3   White  A

## 9.4 Updating Text Files

In [5]:
accounts = open('accounts.txt', 'r')

In [6]:
temp_file = open('temp_file.txt', 'w')

In [8]:
with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split()
        if account != '300':
            temp_file.write(record)
        else:
            new_record = ' '.join([account, 'Williams', balance])
            temp_file.write(new_record + '\n')

In [9]:
import os

In [10]:
os.remove('accounts.txt')

In [11]:
os.rename('temp_file.txt', 'accounts.txt')

In [16]:
accounts_dict = {'accounts': [
    {'account': 100, 'name': 'Jones', 'balance': 24.98}, 
    {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

## 9.5 Serialization with JSON

In [17]:
import json

In [18]:
with open('accounts.json', 'w') as accounts:
    json.dump(accounts_dict, accounts)

In [20]:
with open('accounts.json', 'r') as accounts:
    accounts_json = json.load(accounts)

In [21]:
accounts_json

{'accounts': [{'account': 100, 'name': 'Jones', 'balance': 24.98},
  {'account': 200, 'name': 'Doe', 'balance': 345.67}]}

In [22]:
accounts_json['accounts']

[{'account': 100, 'name': 'Jones', 'balance': 24.98},
 {'account': 200, 'name': 'Doe', 'balance': 345.67}]

In [23]:
accounts_json['accounts'][0]

{'account': 100, 'name': 'Jones', 'balance': 24.98}

In [24]:
accounts_json['accounts'][1]

{'account': 200, 'name': 'Doe', 'balance': 345.67}

In [26]:
with open('accounts.json', 'r') as accounts:
    print(json.dumps(json.load(accounts), indent=4))

{
    "accounts": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.98
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.67
        }
    ]
}

In [27]:
import json

In [28]:
grades_dict = {'gradebook':
    [{'student_id': 1, 'name': 'Red', 'grade': 'A'}, 
     {'student_id': 2, 'name': 'Green', 'grade': 'B'}, 
     {'student_id': 3, 'name': 'White', 'grade': 'A'}]}

In [29]:
with open('grades.json', 'w') as grades:
    json.dump(grades_dict, grades)

In [30]:
with open('grades.json', 'r') as grades:
    print(json.dumps(json.load(grades), indent=4))

{
    "gradebook": [
        {
            "student_id": 1,
            "name": "Red",
            "grade": "A"
        },
        {
            "student_id": 2,
            "name": "Green",
            "grade": "B"
        },
        {
            "student_id": 3,
            "name": "White",
            "grade": "A"
        }
    ]
}

### 9.8.1 Division by Zero and Invalid Input

In [31]:
10/0

ZeroDivisionError: division by zero

In [32]:
value = int(input('Enter an integer: '))

Enter an integer:  hello

ValueError: invalid literal for int() with base 10: 'hello'

### 9.8.2 try Statments

In [33]:
def try_it(value):
    try:
        x = int(value)
    except ValueError:
        print(f'{value} could not be converted to an integer')
    else:
        print(f'int({value} is {x}')

In [34]:
try_it(10.7)

int(10.7 is 10

In [35]:
try_it('Python')

Python could not be converted to an integer

## 9.9 finally Clause

In [38]:
try:
    print('try suite with no exceptions raised')
except:
    print('this will not execute')
else:
    print('else executes because no exceptions in the try suite')
finally:
    print('finally always executes')

try suite with no exceptions raised
else executes because no exceptions in the try suite
finally always executes

In [39]:
try:
    print('try suite that raises an exception')
    int('hello')
    print('this will not execute')
except ValueError:
    print('a ValueError occurred')
else:
    print('else will not execute because an exception occurred')
finally:
    print('finally always executes')

try suite that raises an exception
a ValueError occurred
finally always executes

In [40]:
open('gradez.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'gradez.txt'

In [42]:
try:
    with open('gradez.txt', 'r') as accounts:
        print(f'{"ID":<3}{"Name":<7}{"Grade"}')
        for record in accounts:
            student_id, name, grade = record.split()
            print(f'{student_id:<3}{name:<7}{grade}')
except FileNotFoundError:
    print('The file name you specified does not exist')

The file name you specified does not exist

In [44]:
def try_it(value):
    try:
        x = int(value)
    except ValueError:
        print(f'{value} could not be converted to an integer')
    else:
        print(f'int({value} is {x}')
    finally:
        print('finally executed')

In [45]:
try_it(10.7)

int(10.7 is 10
finally executed

In [46]:
try_it('Python')

Python could not be converted to an integer
finally executed

## 9.11 Stack Unwinding and Tracebacks

In [57]:
def function1():
    function2()

In [58]:
def function2():
    raise Exception('An exception occurred')

In [59]:
function1()

Exception: An exception occurred

## 9.12 Intro to Data Science: Working with CSV Files

### 9.12.1 Python Standard Library Module csv

In [47]:
import csv

In [48]:
with open('accounts.csv', mode='w', newline='') as accounts:
    writer = csv.writer(accounts)
    writer.writerow([100, 'Jones', 24.98])
    writer.writerow([200, 'Doe', 345.67])
    writer.writerow([300, 'White', 0.00])
    writer.writerow([400, 'Stone', -42.16])
    writer.writerow([500, 'Rich', 224.62])

In [49]:
with open('accounts.csv', 'r', newline='') as accounts:
    print(f'{"Accounts":<10}{"Name":<10}{"Balance":>10}')
    reader = csv.reader(accounts)
    for record in reader:
        account, name, balance = record
        print(f'{account:<10}{name:<10}{balance:>10}')

Accounts  Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White            0.0
400       Stone         -42.16
500       Rich          224.62

In [50]:
import csv

In [51]:
with open('grades.csv', mode='w', newline='') as grades:
    writer=csv.writer(grades)
    writer.writerow([1, 'Red', 'A'])
    writer.writerow([2, 'Green', 'B'])
    writer.writerow([3, 'White', 'A'])

In [52]:
with open('grades.csv', 'r', newline='') as grades:
    print(f'{"ID":<4}{"Name":<7}{"Grade"}')
    reader = csv.reader(grades)
    for record in reader:
        student_id, name, grade = record
        print(f'{student_id:<4}{name:<7}{grade}')

ID  Name   Grade
1   Red    A
2   Green  B
3   White  A

### 9.12.2 Reading CSV Files into Pandas DataFrames

In [53]:
import pandas as pd

In [54]:
df = pd.read_csv('accounts.csv',
                 names=['account', 'name', 'balance'])

In [55]:
df

   account   name  balance
0      100  Jones    24.98
1      200    Doe   345.67
2      300  White     0.00
3      400  Stone   -42.16
4      500   Rich   224.62

In [56]:
df.to_csv('accounts_from_dataframe.csv', index=False)

### 9.12.3 and 9.12.4

Practice problems found in Project_1_Teare file